/.venv
/.idea
/data
/lista_de_nomes/ibge-data
/topic_modeling/bertopic_graphs
/topic_modeling/model
/graphs_ade/01_evolucao_temporal.png
/graphs_ade/02_top_10_times.png
/graphs_ade/03_distribuicao_sistemas.png
/graphs_ade/04_time_vs_categoria.png
/graphs_ade/05_zscore_performance.png